body{
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: hidden;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    float: left;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a.PokeLogo{
    background-color: red;
    color: white;
}

li a:hover:not(.PokeLogo){
    background-color: red;
    color: white;
}

#video{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    width: 70%;
    height: 33.3%;
}

#section2{
    width: 100%;
}

#review{
    width: 48%;
    height: 100%;
    float: left;
    margin-top: 40px;
    margin-left: 2%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    
}

#pokeSS{
    width: 47%;
    height: 100%;
    float: right;
    margin-top: 40px;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 40px;
}

#section3{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#protaFem{
    width: 70%;
    height: 60%;
}

#protaMas{
    width: 70%;
    height: 60%;
}

#inicialF{
    width: 70%;
    height: 60%;
}

#inicalA{
    width: 70%;
    height: 60%;
}

#inicialP{
    width: 70%;
    height: 60%;
}

#pikachu{
    width: 70%;
    height: 60%;
}

#pkeLegen{
    width: 70%;
    height: 60%;
}

#entrenadora{
    width: 70%;
    height: 60%;
}



